/* Body Properties*/

.bloc-page{
    margin: 0 2% 2% 2%; 
}
body{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    width: 100%;
    margin:0;
}
ul{
    list-style: none;
}
h1{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2px;
}
h2{
    margin-top: 0;
    font-size: 1.2em;
}
h3{ 
    font-size: 0.9em;
    margin:2px;
}
p{
    margin: 8px 0 0 0;
}
a{
    text-decoration: none;
    color: black;
}
.bold{
    font-weight: bold;
}
.grey{
   color: #F2F2F2;
}
.blue{
    color: #0065FC;
}

/* Block Header and navigation*/

/* logo and nav bar*/
.logo-reservia{
    height: 40px;
    justify-self: flex-start;    
}
.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.signup{
    width: 100px;
    text-align: center;
}
nav{ 
    display: flex;   
}
nav ul{
    display: flex;
    margin-top: 0;
    width: 100%;
    justify-content: flex-end;
}

nav ul li{
    text-align: center;
    font-size: 0.9em;
    width:165px;
}
.nav_hebergement{
    border-top: 2px solid #0065FC;
    box-shadow: inset 0px 3px 7px -6px #0065FC;
    padding:20px 0 0 0;
}
.logo-reservia:nth-child(1){
    flex:0;
}
.navigation:nth-child(2){
    flex:1;
}
.signup:nth-child(3){
    flex:0;
}
.nav_activites{
    border-top: 2px transparent;
    padding:20px 0 0 0;
}
/* "Trouver votre hebergement" Titre h1 */
.PageTitle{
    margin-top: 10px;
    margin-bottom: 20px;
}
/* icone, search bar, send button */
.searchBar p{
    display: flex;
    width: 420px;
    height: 50px;
    border : solid 1px #F2F2F2;
    border-radius: 15px;
    margin-bottom: 10px;
}

.fa-map-marker-alt{
    height: 35px;
    width: 50px;
    text-align: center;
    background-color:#F2F2F2 ;
    border-radius: 15px 0 0 15px;
    padding-top: 15px;
}
.search{

    height: 50px;
    width: 230px;
    border: none;
    font-size: 1em;
    color: black;
}

.rechercher{
    background-color: #0065FC;
    border:none;
    height: 50px;
    flex: 1;
    border-radius: 0 15px 15px 0;
    font-size: 1em;
    color: white;
    
}
/* alternative button for mobile */
    .loupe{
        display:none;
    }
/* filtres */
.filtres button{
    
    height: 50px;
    background-color: white;
    padding:10px 20px 10px 50px;
    font-size: 17px;
    font-weight: bold;
    border: 3px solid #F2F2F2;
    border-radius:20px;
    white-space: nowrap;
}

.single_filter{
    margin-left: 15px;
    display: flex;
    flex-wrap: nowrap;  
}

.single_filter:hover{
    box-shadow: 2px 2px 2px gray;
    border-radius:20px;
}

.single_filter i{
    position: relative;
    margin-right:-40px;
}

.filtres {
    display: flex;
    align-items: center;

}

.filtres_liste{
    display: flex;
    padding-left: 10px;
    flex-wrap: wrap;
}

.filtres i{
    padding:17px;
    background-color: #DEEBFF;
    border-radius:25px;
    color: #0065FC;
}
/* ligne d'info */
.infoLine{
    display: flex;
    align-items: baseline;
}

.fa-info-circle::before{
    height: 25px;
    width: 25px;
    background-color:#0065FC ;
    color: white;
    border: 1px solid #F2F2F2;
    border-radius: 30px ;
    font-size: 1em;
    margin: 1%;
    display: inline;
}

.infoLine p{
    padding-left: 5px;
}

/* properties page content */
.around_hebergement_plusPop{
    display: flex;
    margin-top: 30px;
}

.around_hebergement_plusPop p{
    font-size: 0.8em;
}

.fa-star{
    font-size: 10px;
}

    /* sub block hebergement*/

.Parent_sectionHebergement{
    background-color:  #F2F2F2;
    border-radius: 15px;
    padding: 2.5%;
    width: 65%;  
}

.ListeHebergement_Marseille{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement__card{
    display: flex;
    width:235px;
    height: 190px;
    margin-bottom: 25px;
    background-color: white;
    border-radius: 15px;
    padding: 3px;
    box-shadow: 2px 2px 20px #818181af ;
}

.image_hebergement{
    height: 115px;
    width: 235px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;  
}

.hebergement__description{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 95%;
    border-radius: 0 0 15px 15px;
   padding-left: 5px;
}

    /* sub block Les plus poplaires*/

.lesPlusPopulaires{
  padding: 2.5%;
  margin-left: 2%;
  width: 28%;
  border-radius: 15px;
  background-color:#F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pop_titre{
    display: flex;
    justify-content: space-between; 
    width: 100%;   
}

.contenu_lesPlusPopulaire{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.hebergement-populaire_card{
    display: flex;
    align-items: center;
    border: 3px solid white;
    margin-bottom:30px;
    border-radius: 15px;
    width: 345px;
    height: 135px;
    box-shadow: 2px 2px 20px #818181af ;
    background-color: white;
}

.image_plus_populaire{
    border-radius: 15px 0 0 15px;
    height: 135px ;
    object-fit: cover;
}

.description_hebergementPopulaire{
 display: flex;
 flex-direction: column;
 background-color: white;
 border-radius: 0 15px 15px 0;
 width: 100%;
 height: 90%;
 flex: 60%;
 margin: 10px 40px 10px 15px;
}

.description_hebergementPopulaire p{
   flex:50%
}

/* Block Section Activites*/

.activites{
    margin-top: 65px;
    margin-bottom: 60px;
}

.conteneur_activites{
    display: flex;
    flex-direction: column;
    column-gap: 1%;
    flex-wrap: wrap;
    height: 445px;
}

.vieux-port, .parc{
    height: 445px; 
}

.port {
    height: 235px;  
    margin-bottom: 45px; 
}

.iles {
    height: 165px;    
}

.notre-dame {
    height: 195px; 
    margin-bottom: 40px;   
}

.longchamp {
    height: 210px;   
}

.conteneur_activites img{
    flex: 1;
    object-fit: cover;
    overflow: auto;
    border-radius: 15px 15px 0 0;
}

.caption {
    flex:none;
    font-size: 1em;
    height: 55px; 
}

.conteneur_activites article{
    object-fit: cover;
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius:15px;
    box-shadow: 3px 3px 3px #F2F2F2 ;
    background-color: white;
}

.caption h4{
    padding-left: 15px;
    
}

/* Block Section Footer*/

footer{
   display: flex;
   padding-top: 50px;
   padding-bottom: 50px;
   width: 100vw;
   background-color: #F2F2F2 ;  
}

.footer_child{
    width: 35%;
}

/* media queries*/

@media all and (max-width: 1280px)
{
    /* properties page content for smaller screens */
    .around_hebergement_plusPop{
        flex-direction: column-reverse;
    }
    /* sub block hebergement for smaller screens */
    .Parent_sectionHebergement{
        width: 95%;
    }
    /* sub block Les plus poplaires for smaller screens*/
    .lesPlusPopulaires{
      margin: 0;
      flex-direction: column;
      width:95%;
      margin-bottom: 40px;  
    }
    .contenu_lesPlusPopulaire{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .hebergement-populaire_card{  
        width: 290px;
        height: 135px;   
    }
    .description_hebergementPopulaire{
        margin: 10px 10px 10px 15px;
    }
    /* Block Section Activites for smaller screeens*/
    .conteneur_activites article{
        height: 210px;
    }
    .conteneur_activites{
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
    }
    
    
}
/* règles CSS pour les tablettes ici */
@media screen and (max-width: 880px) 
{
    /* Body Properties for tablets*/
    body{
        padding:0;
    } 
    .bloc-page{
        margin:0;  
    } 
    h2{
        margin:20px;
    }
    /* Block Header and navigation for tablets*/
    header{
        padding: 0 20px 0 20px; 
    }
    .filtres_liste
    {
        row-gap: 10px;
    } 
    /* properties page content for tablets*/
    .around_hebergement_plusPop{
        flex-direction: column-reverse;
        align-items: center;
    }
    
   
   /* sub block Les plus poplaires for tablets*/
    .lesPlusPopulaires{
      margin-left: 0;
      padding: 30px 30px 0 30px;
      justify-content: center;
      width: fit-content;
      margin-bottom: 40px;
    }
    
    .contenu_lesPlusPopulaire{
        display: flex;
        flex-direction: column;
        align-items:center
    }
    .hebergement-populaire_card{
        width: 330px;
        height: 135px;  
    } 
    .pop_titre{
        padding: 0px 0px 20px 0px;
        width: 90%;
        align-items: center ;
    }
    /* sub block hebergement for tablets*/
    .Parent_sectionHebergement{  
        padding:5px 0 30px 0;
        margin-top: 0;
        width: 100vw;
    }
    .ListeHebergement_Marseille{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .description_hebergementPopulaire{
        margin: 10px 10px 10px 15px;
    }
    .afficher_plus{
        padding-left: 20px;
    }
    /* Block Section Activites for tablets*/
    .conteneur_activites article{
        height: 210px;
    }
    .conteneur_activites{
       flex-direction: row;
       justify-content: center;
       width: 100%;
       height: 100%;  
       row-gap: 30px;
       column-gap: 30px; 
    }   
    .port, .notre-dame{ 
        margin-bottom:0;
    } 
   

}
/* règles CSS pour les mobiles ici */
@media screen and (max-width: 380px) {
   
    /* Body Properties for mobile*/
    body, .bloc-page{
        margin:0; 
        padding: 0; 
    }
  
    h1{
        font-size:1.4em
    }
    h2{
        margin:20px;
        }
    /* Block Header and navigation for mobile*/
    
    header{
        padding: 0;
    }
     .PageTitle, .searchBar, .filtres, .infoLine{
        padding: 0 20px 0 20px; 
    }
    /* logo and nav bar for mobile*/
    .entete{
        flex-wrap: wrap; 
        row-gap: 10px;
    }
   .logo-reservia:nth-child(1){
    order: 1;
   }
   .navigation:nth-child(2){
        order: 3;
   }
   .signup:nth-child(3){
        order: 2;
   }
   .logo-reservia{
    padding:15px;
   }
    .nav_hebergement, .nav_activites{
        border-top: 0;
        box-shadow: none;
        padding: 0 0 20px 0;
        font-size: 1em;
        width: 50%;
    }
    .nav_hebergement{
        border-bottom: 2px solid #0065FC;
    }
    .nav_activites{
        border-bottom: 2px solid #F2F2F2;
    }
    nav ul{
        padding: 0; 
        width: 100%;   
    }
    .signup{
        padding:15px;
    }
    /* icone, search bar, send button for mobile*/
    .searchBar p{
        width: 330px;
        height: 50px;
        }
    .loupe{
        display: unset;
        background-color: #0065FC;
        border: none ;
        height: 50px;
        width: 50px;
        border-radius: 15px;
        font-size: 1.2em;  
        cursor: pointer;
        display: block;
        color: white;
    }
    .rechercher {
          display: none;
        }
    /* filtres for mobiles*/

    .filtres{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
    }
    .filtres_liste
    {
        row-gap: 10px;
        padding: 0;
    }
    .single_filter{
        margin:0 10px 0 0;
        
    }
    /* barre info for mobile*/
    .infologo{
        font-size: 20px;
    }
    /* properties page content for mobile*/
    .around_hebergement_plusPop{
        flex-direction: column-reverse;
    }
    /* sub block Les plus poplaires for mobile*/
    .pop_titre{
        padding: 0px; 
        width: 90%;
        align-items: center;
    }
    .pop_titre h2{
        margin: 20px 0 20px 0;
    }
    .lesPlusPopulaires{
        margin: 0;
        padding: 0;
        align-items:center;
        border-radius:0;
        width: 100%;
    }
   
    .hebergement-populaire_card{
        width: 330px;
        height: 135px;  
        
    }
    /* sub block hebergement for mobile */
    .ListeHebergement_Marseille{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .Parent_sectionHebergement{ 
        width: 100%;
        background-color: white;
        padding: 0;
        margin-top: 20px;
    }
    .afficher_plus{
        padding-left: 20px;
    }
    /* Block Section Activites for mobile*/
    .conteneur_activites article{
        height: 210px;
    }
    .conteneur_activites{
       flex-direction: row;
       justify-content: center;
       width: 100%;
       height: 100%;
       row-gap: 30px;
       column-gap: 30px;
    }  
    .port, .notre-dame{ 
        margin-bottom:0;
    } 
    /* Block Section Footer for mobile*/
    footer{
        flex-direction: column;
        padding-top:20px ;
    }
    footer ul{
        width: 80vw;
    }

}
